
img {
    max-width: 60%;
    height: auto;
    width /***/:auto;
}

.deplete-animation{
    animation: deplete 1s linear forwards;
}

.expand-animation{
    animation: deplete 1s linear reverse forwards;
}

@keyframes  deplete {
    0%{
        width: 100%;
        opacity: 1;
    }
    100%{
        width: 0%;
        opacity: 0;
    } 
}
.card {
    transition: background-color .5s;
}

.card:hover {
    background-color: #C0C0C0;
}


